<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime
      version="v4.0"
      sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>

        <binding
          name="BasicHttpBinding_ExampleDataSeederService">
          <security
            mode="TransportCredentialOnly">
            <transport
              clientCredentialType="Basic" />
          </security>
        </binding>

        <binding
          name="BasicHttpBinding_CredentialsDatabaseAccessor">
          <security
            mode="TransportCredentialOnly">
            <transport
              clientCredentialType="Basic" />
          </security>
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>

      <endpoint
        address="http://localhost:7000/ExampleDataSeeder"
        binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ExampleDataSeederService"
        contract="ExampleDataSeederService.ExampleDataSeederService"
        name="BasicHttpBinding_ExampleDataSeederService" />

      <endpoint
        address="http://localhost:7000/CredentialsManagement"
        binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_CredentialsDatabaseAccessor"
        contract="CredentialsManagement.CredentialsDatabaseAccessor"
        name="BasicHttpBinding_CredentialsDatabaseAccessor" />

    </client>
  </system.serviceModel>
</configuration>