<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup
      name="userSettings"
      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section
        name="Ork.Setting.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser"
        requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Ork.Setting.Properties.Settings>
      <setting
        name="url"
        serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting
        name="port"
        serializeAs="String">
        <value>7000</value>
      </setting>
      <setting
        name="user"
        serializeAs="String">
        <value>root</value>
      </setting>
      <setting
        name="password"
        serializeAs="String">
        <value>ork123</value>
      </setting>
      <setting
        name="language"
        serializeAs="String">
        <value>de</value>
      </setting>
      <setting
        name="theme"
        serializeAs="String">
        <value>Ork.Theme.Dark</value>
      </setting>
    </Ork.Setting.Properties.Settings>
  </userSettings>
</configuration>